body {
    font-size: 15px;
    font-style: url("[Public Sans](https://fonts.google.com/specimen/Public+Sans)");
    Weights: 300, 400, 700;
}

.nav-item {
    padding:0 10px;
}

.eb-btn {
    background-color: hsl(136, 65%, 51%);
    border-radius: 58px;
    border: none;
}

@media (max-width: 1900px){
    .hero__container {
	    background-image: url("images/bg-intro-desktop.svg") ;
	    background-repeat: no-repeat;
	    background-position: 550px -204px;
	    position: relative;
	    background-size: cover;
    }
}

@media (min-width: 467px){
    .hero__bg--phone {
	    position: absolute;
	    top: 0;
	    left: 0%;
    }.hero__container{
    padding-top: 340px;
    }
}

.home-section-1 {
	position: revert;
	padding: 50px;
	background-color: #e9ecef;

}

.hero__bg--phone {
	position: absolute;
	top: -10%;
	left: 60.5%;
 padding: 0 0px;
}

.hero__bg--intro-mobile {
    display: block;
}

@media (min-width: 1024px){
    .hero__bg--intro-mobile{
        display: none;

    }
}

.card-title {
 text-decoration: none;
}

.home-section__title {
    margin-top: 30px;
}

.hero__text {
    position: relative;
    
}

.col-md-6  {
    border-radius: 10px;
}

.mb-4 {
    margin-bottom: 2.5rem !important;
} 

a{
    text-decoration: none;
}

.home-section-2__article__title {
    color: black;
    font-size: 20px;
}

.home-section-2__article__body {
    padding-top: 0;
    padding-bottom: 40px;
    padding: 20px;
}

.site-footer {
    color: white;
    background-color: #24314b;
    padding-top: 40px;
    list-style: none;
}
.site-footer__menu-items {
    list-style: none;
    text-align:  center;
}
.col-xl-5{
    text-align: right;
}
.col-xl-2 {
    text-align: revert;
}
